html, body{
    background-color: rgb(255, 255, 189);
    font-family: 'Nanum Gothic', sans-serif;
}

.topImg{
    margin: 0 auto;
    text-align: center;
}
.container{
    text-align: center;
    padding-top: 20px;
}

#form {
    margin: 0 auto;
    height: 60px;
    justify-content: space-between;
    width: 85%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}

#form button {
    max-width: 100px;
    margin: 0 auto;
}

#randomSetForm{
    margin: 0 auto;
    height: 60px;
    justify-content: space-between;
    width: 85%;
    max-width: 250px;
    display: flex;
    flex-direction: column; 
}

#randomSetForm button {
    max-width: 100px;
    margin: 0 auto;
}

.setList{
    margin: 0 auto;
    width: 85%;
    padding-bottom: 20px;
}